/Digital Image Processing 3rd ed. - R. Gonzalez, R. Woods-ilovepdf-compressed.pdf
/My_harris_detector-thresh_0.3.png
/My_harris_detector-thresh_1.png
/SzeliskiBook_20100903_draft.pdf
/جدول أعمال الفصل الثاني برنامج عام 2023-1.pdf